<p>crear-usuario</p>


<form [formGroup]="formUser" (ngSubmit)="guardar(formUser)">

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput required formControlName="nombre" [readonly]='this.disable'>
            <mat-error *ngIf="error.nombre.errors"><span *ngIf="error.nombre.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
            <mat-error *ngIf="error.nombre.errors"><span *ngIf="error.nombre.errors.maxlength">¡Advertencia! Maximo 100 caracteres</span></mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput required formControlName="apellido" [readonly]='this.disable'>
            <mat-error *ngIf="error.apellido.errors"><span *ngIf="error.apellido.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required formControlName="email" [readonly]='this.disable'>
            <mat-error *ngIf="error.email.errors"><span *ngIf="error.email.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
            <mat-error *ngIf="error.email.errors"><span *ngIf="error.email.errors.email">¡Advertencia! Esto no es un email</span></mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput required formControlName="usuario" [readonly]='this.disable'>
            <mat-error *ngIf="error.usuario.errors"><span *ngIf="error.usuario.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
            <mat-error *ngIf="error.usuario.errors"><span *ngIf="error.usuario.errors.maxlength">¡Advertencia! Maximo 20 caracteres</span></mat-error>
            <mat-error>¡Advertencia! Su usario debe empezar con una letra</mat-error>
        </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill" *ngIf="this.data.type==='crear'" >
            <mat-label>Estado</mat-label>
            <select matNativeControl required formControlName="estado">
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
            <mat-error *ngIf="error.estado.errors"><span *ngIf="error.estado.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" *ngIf="this.data.type==='ver'">
            <mat-label>Estado</mat-label>
            <input matInput required formControlName="estado" [readonly]='this.disable'>
          </mat-form-field>

          <mat-slide-toggle formControlName="estado" *ngIf="this.data.type==='editar'">Activo</mat-slide-toggle>



    </div>

    <mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button type="submit" color="primary" disabled='{{formUser.invalid}}' [mat-dialog-close]="true">Guardar</button>
    </mat-dialog-actions>


</form>


